header{
    display: flex;
    justify-content: center;
    height: 50px;
    margin-bottom: 5px;
}

.header--center{
    background-color: rgb(46, 46, 252);
    width: 950px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.7rem;
}

.header--center a{
    color:aqua;
    text-decoration: none;
}

.header--center a:hover{
    color:rgb(10, 185, 185);
}


@media screen and (max-width: 768px) {
    .header--center{
      width: 100%;  
      margin-bottom: 0px;
    }
}


